.swiper-slide {
  position: relative;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.swiper-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.swiper-text {
  left: 0;
  z-index: 10;
}
/* === pagination === */
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  right: 10px;
  left: unset;
  top: 0;
  width: unset;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.swiper-pagination-bullet {
  width: 50px;
  height: 20px;
  display: block;
  border-radius: 0;
  background: none;
  color: hsl(0, 0%, 100%);
  line-height: 20px;
  font-size: 15px;
  font-weight: 500;
  transform: scale(0.7);
  transition: all 0.1s linear;
  opacity: 0.7;
}
.swiper-pagination-bullet-active {
  position: relative;
  opacity: 1;
  transform: scale(1);
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  left: -10px;
  height: 1px;
  top: 50%;
  background: #fff;
  width: 0px;
  transition: all 0.2s linear;
}
.swiper-pagination-bullet-active::before {
  width: 20px;
}
.swiper-pagination-bullet:hover:before {
  width: 20px;
}

/* === navigation === */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 0px;
  left: unset;
  top: unset;
  right: 0;
  z-index: 100;
  color: #fff;
  cursor: pointer;
  width: 50%;
  height: 60px;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgb(0 0 0 / 58%) 100%
  );
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: unset;
  font-size: unset;
  text-transform: none !important;
  letter-spacing: unset;
  text-transform: unset;
  font-variant: unset;
  line-height: 1;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "PREV";
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "NEXT";
}

@media screen and (min-width: 768px) {
  .swiper-img {
    left: 30%;
  }
  .swiper-text {
    left: 0px;
  }
  .swiper-slide img {
    filter: unset;
  }
  /* === pagination === */
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    right: 0px;
  }
  /* === navigation === */
  .swiper-button-prev,
  .swiper-button-next {
    width: 110px;
    bottom: 15px;
    background: unset;
  }
  .swiper-button-prev {
    right: 100px;
    left: unset;
  }
}

