* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  background: #2a2a2e;
  color: white;
}
main {
  position: relative;
  top: 0;
  margin-top: 90px;
  background: #2a2a2e;
}
section {
  position: relative;
  height: auto;
  width: 100%;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
p {
  font-size: 12px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #5e646a;
}
.line-top:before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 70px;
  height: 2px;
  background: #efb81f;
}
.line-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 70px;
  height: 2px;
  background: #efb81f;
}
.container {
  width: 100%;
  padding-right: calc(15px);
  padding-left: calc(15px);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1024px) {
  main {
    width: calc(100% - 90px);
    left: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}
